.footer {
  color: white;
  background-color: black;
  width: 100%;
  display: inline-block;
  margin-top: 10%;
}

.footer li {
  display: inline;
  list-style-type: none;
  margin: 10px auto;
}

.footer li {
  margin-left: 6%;
}