
div .slider {
  float: right;
  width: 280px;
  height: 280px;
}

.slider {

  position: relative;
  width: 500px;
  margin-top: 100px;
  margin: 0 auto;

  margin-left: 20px;
  height: 500px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}

.title {
    /* margin-top: 60px; */
  font-size: 30px;
  /* background: black; */
  color: black;
  width: 60%;
  padding-left: 15%;
  margin-top: 0px;
  padding-bottom: 15px;
}

.slider-wrapper {
  /* position: relative; */
  height: 100%;
  width: 100%;
}

/* IMAGES */
.slide {
  /* margin-top: 50px; */
  display: inline-block;
  height: 100%;
  width: 100%;
}

.arrow {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;


  background: rgba(249, 249, 249, 0.4);
  /* border-radius: 50%; */

  
  cursor: pointer;
  transition: transform ease-in .1s;
}

.arrow:hover {
  background: white;
}

.nextArrow {
  position: absolute;
  top: 80%;
  right: 25px;
  
  /* RIGHT ARROW */
  -webkit-clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
  z-index: 999;
}

.backArrow {
  position: absolute;
  top: 80%;
  left: 25px;
  -webkit-clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
  clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
  /* z-index: 999;  */
  /* color: #fff; */
}

.fa-arrow-right:before, .fa-arrow-left:before {
  color: #222;
  /* background-image: url('http://pixsector.com/cache/85c25e82/av668d1791f7ab43c8268.png'); */
}